
<div class="container">
  <div class="my-5">
    <div class="row align-items-stretch">
      @if(blogs$|async){
      <ng-container>
        @for(blog of (blogs$|async); track $index){
        <div class="col-12 col-md-4 mb-5">
          <div class="card h-100">
            <img
              [src]="blog.featuredImageUrl"
              class="card-img-top"
              [alt]="blog.title"
            />
            <div class="card-body" d-flex flex-column>
              <h5 class="card-title">{{ blog.title }}</h5>
              <p class="card-text">
                {{ blog.shortDescription }}
              </p>
              <span class="d-flex align-item-end" style="flex: 1">
                <a
                  [routerLink]="['/blogs', blog.urlHandle]"
                  class="btn btn-primary"
                  >Read More</a
                >
              </span>
            </div>
          </div>
        </div>
        }
      </ng-container>
      }
    </div>
  </div>
</div>
